 body{
 	background:#efefef;

 }
 .container-fluid{
 	margin:0px;

 }
 .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary{
	 color:white!important;
 }
 #buton-model{
	 border:none;
	 width:100%;
 }

 @font-face {
  font-family: "ColfaxWeb";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/ColfaxWebRegularAlt/ColfaxWebRegularAlt.eot?#iefix") 
  format("embedded-opentype"), url("assets/fonts/ColfaxWebRegularAlt/ColfaxWebRegularAlt.woff2")
  format("woff2"), 
  url("assets/fonts/ColfaxWebRegularAlt/ColfaxWebRegularAlt.woff") format("woff");
}

@font-face {
  font-family: "ColfaxWeb";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/ColfaxWebMediumAlt/ColfaxWebMediumAlt.eot?#iefix") 
  format("embedded-opentype"), url("assets/fonts/ColfaxWebMediumAlt/ColfaxWebMediumAlt.woff2") 
  format("woff2"), 
  url("assets/fonts/ColfaxWebMediumAlt/ColfaxWebMediumAlt.woff") 
  format("woff");
}
 *{
 
 	margin:0px;
 	color: #494949!important;


 }
html{
	font-family: 'ColfaxWeb';
	/*font-size: 62.5%;*/
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

}


#logo{
	width: 45px;

}	
#autopilot{
	border-bottom: solid 1px #036caf;
	border-bottom-width: 2px;
}

.animation{
	background-color: white;

}
.menu{
	background-color: white;
	

}
.menu-div{
	padding-top:15px;

	padding-bottom: 15px;
	margin-right:0px!important;
}
.anim-row{
	border-radius: 4px;
	background: white;
	min-height: 600px;
	max-height: 600px;
	
	box-shadow:0 1px 3px rgba(0,0,0,0.005), 0 1px 2px rgba(0,0,0,0.1);
	border-bottom:1px solid rgba(0, 0, 0, 0.12);
}


.menu-row{
	
	border-radius: 4px;
	background: white;
	min-height:292.5px;
	max-height:292.5px;

	box-shadow:0 1px 3px rgba(0,0,0,0.005), 0 1px 2px rgba(0,0,0,0.1);
	border-bottom:1px solid rgba(0, 0, 0, 0.12);

}
.test123{
	padding-right: 0px;
}
.test124{
	padding:0px;
	margin-left: 0px;
}
.row-bottom{
	margin-top:15px;
}
.header-row{
	
	/*box-shadow:0 1px 3px rgba(0,0,0,0.005), 0 1px 2px rgba(0,0,0,0.1);*/
	border-bottom:1px solid rgba(0, 0, 0, 0.12);
	padding:15px;

}
.navbar{
	margin-left:-15px;
	margin-right:-15px;
	/*border-bottom: solid 1px #dddcdc;*/
	box-shadow:0 1px 3px rgba(0,0,0,0.005), 0 1px 2px rgba(0,0,0,0.1);
	border-bottom:1px solid rgba(0, 0, 0, 0.12);
}
.clear{
	clear:both;
}
.footer{
	text-align: center;
	color:#636363;
}
#wheel{
	height:188px;
	margin-top:10px;
	margin-left:24px;

}
#gearbox{
	height: 80px;
	margin-top:10px;
}
#pedals{
	height: 80px;
	margin-top:10px;
}
.wheel-text{
	text-align: center;
}
.padding-row-menu{
	padding-left:15px;
	padding-right:15px;
}

@media only screen and (max-width: 767px) {
   .test123{
	padding-right: 15px;
}
}
.container{
	width:100%;
	height:100%;
	padding:20px;
}

